.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

# volume
postgres-user-service-volume
postgres-restaurant-service-volume
postgres-grade-service-volume
postgres-black-list-service-volume

# jwt token for curl tests
scripts/curl_tests/jwt-token
