.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

# volume
db-volume
postgres-auth-service-volume

# jwt token for curl tests
scripts/curl_tests/jwt-token
